html{
    font-size: 62.5%;/*reset para rems-62.5=10px de 16 px;*/
   
}
*, *:before,*:after{
    box-sizing: border-box;/*no altera el width de un elemento*/
    list-style: none;
    text-decoration: none;
}
/*globales*/
body{
    font-family: 'Lato', sans-serif;
    font-size:1.6rem;
    line-height: 2;

}
*{
    text-decoration: none;
    padding: 0;
    margin: 0;
}
/*------------header-------------*/
.site-header{
    background-image: url(../img/header.jpg);
    width: 100%;
    height: 80vh;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
.contenedor{
    width: 90%;
    margin: auto;
}
.contenido-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 90%;
}
h1{
    color: white;
}
nav a{
    color: white;
    display: inline-block;
}
nav a:hover{
    color:#71b100;
}
nav{
    display: flex;
    justify-content: space-around;
    width: 60%;
}
.barra{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/*----------------mas de nosotros----------*/

.contenedor h2{
    text-align: center;
    margin: 30px;
}
.iconos-nosotros{
    display: flex;
    flex-wrap: wrap;
}
.icono{
    text-align: center;
    width: 33%;
}
.icono div img{
    width: 50%;
}

/*--------casas e venta---------*/

.contenedor-anuncios{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
}
.contenido-anuncio{
    width: 90%;
    margin: auto;

}

.anuncios{
    flex-basis: calc(30%);
    border: 1px solid #000;
    background-color: #eff2ff;
}
.anuncios>img{
    border-bottom: 1px solid black;
    width: 100%;
}
.boton{
    display: block;
    width: 90%;
    margin: 10px auto;
    text-align: center;
    border:1px solid #000;
    color:#fff;
    background-color: #e08709;
}
.anuncios a:hover{
    background-color:#71b100;
}
.lista-iconos{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.boton-verde{
    width: 100%;
    background-color: #71b100;
}
.boton-verde:hover{
    background-color: #04146c;
}
.precio{
    color: #71b100;
}

/*--------Formulario-----------*/
.contactos{
    background-image: url(../img/encuentra.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    height: 400px;
}
.contenido-contactos{
    color: #fff;

    display: flex;
    flex-direction: column;
    align-items: center;

}
.btn-contacto{
    width: 300px;
}
.btn-contacto:hover{
    background-color: #04146c;
}
/*Blog y testimonios*/
.section-inferior{
    display: flex;
    justify-content: space-between;
}
h3{
    text-align: center;
    font-weight: 300;
}

.blog{
    border: #e08709;
}
.blog article{
    border: 1px solid #04146c;
    margin: 25px;

    
}
.text-entrada{
    width: 80%;
    margin: auto;
}
.text-entrada>a{
    color: #e08709;
}
.text-entrada>a:hover{
    color: #71b100;
}





















.testimonios{
    width: 30%;
    position: relative;
}
.testimonios2{
    background-color: #71b100;
    border-radius: 15px;
    color: #fff;
    padding: 15px;
    position: relative;
    height: 200px;
}
.testimonios2::before{
    content: '';
    display: block;
    position: absolute;
    height: 50px;
    width: 50px;
    top: 0px;
    left: 0px;
    
    background-image:url(../img/comilla.svg);
}
.testimonios2 span{
    display: block;
    font-weight: bold;
    text-align: end;
}
.testimonios2 div{
    position: absolute;
    top: 40px;
    left: 50px;
    width: 80%;

}
footer{
    background-color: #333333;
    color: #fff;
    text-align: center;
}
@media(max-width:768px){
    body{
        min-width: 400px;
    }
    nav{
        display: none;
    }
    .iconos-nosotros{
        justify-content: center;
        align-items: center;
    }
    .icono{
        width: 50%;

    }
    .contenedor-anuncios{
        flex-wrap: wrap;
        justify-content: center;
    }
    .anuncios{
        flex-basis: 90%;
        margin: 15px;
    }
    .boton-verde{
        width: 90%;
    }
    /*blog y testimonios*/
    .section-inferior{
        flex-wrap: wrap;
        justify-content: center;
    }
    .blog{
        width: 90%;
    }
    .imagen img{
        width: 100%;
    }
    .testimonios{
        width: 90%;
    }
    .testimonios2{
        background-color: #718100;
        margin:25px;
    }


}



/* color:#71b100;
/* background-color: #e08709; */ 














